@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("./assets//fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body {
    /* Reglas para ajustar siempre la versión mobile a un tamaño máximo y al centro */
    @apply max-w-[375px] w-full mx-auto
}