@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("./assets//fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body {
    /* Reglas para ajustar siempre la versión mobile a un tamaño máximo y al centro */
    /* @apply max-w-[375px] w-full mx-auto */
}

.container-shadow {
    box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.2);
}

label {
    @apply text-sm text-neutral-600
}

input {
    @apply py-4 p-3 text-sm ring-1 ring-neutral-400 rounded-full focus:bg-neutral-200 focus:outline-none focus:ring-2 focus:ring-neutral-400 cursor-default
}

select {
    @apply px-4 py-3 rounded-full appearance-none
}

button {
    @apply font-semibold bg-primary hover:bg-tertiary text-white text-center rounded-full disabled:bg-neutral-400 disabled:cursor-not-allowed
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #F2EBF7 !important;
    border-radius: 50%;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: #FF9D14 !important;
    transform: scale(1.2);
  }