.shadow-top {
  box-shadow: 0px -5px 20px rgba(5, 5, 5, 0.1);
}

.react-datepicker {
  border: 0;
  font-family: "Montserrat";
}

.react-datepicker__header {
  background-color: transparent;
  border-bottom: 0;
}

.react-datepicker__day-name {
  margin: 0;
  padding: 4px;
  border-radius: 0;
  width: 40px;
  height: 40px;
}

.react-datepicker__day {
  margin: 0;
  padding: 10px;
  border-radius: 0;
  width: 40px;
  height: 40px;
}


.react-datepicker__day:not([aria-disabled="true"]):hover {
  background-color: #ff9d14;
  border-radius: initial;
}

.react-datepicker__day--selected:not([aria-disabled="true"]):hover {
  background-color: #ff9d14;
}

.react-datepicker__day--selected {
  background-color: #ff9d14;
}

.react-datepicker__day--range-start,
.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-start {
  border-radius: 999% 0 0 999%;
  background-color: #ff9d14;
}

.react-datepicker__day--range-end {
  background-color: #ff9d14;
  color: #fff;
  border-radius: 0 999% 999% 0;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range,
  .react-datepicker__day--selecting-range-start) {
  background-color: #ffe5bf;
  color: #000;
}

.react-datepicker__day--in-range:not(.react-datepicker__day--range-start,
  .react-datepicker__day--range-end) {
  background-color: #ffe5bf;
  color: #000;
}