name: cicd-wander

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    environment:
      name: devops
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: latest

      - run: |
          node --version
          npm --version

      - run: npm install

      - run: npm run lint

      - run: set VITE_API_URL=${{ secrets.VITE_API_URL }} && npm run build

      # - name: Configure AWS Credentials
      #   uses: aws-actions/configure-aws-credentials@v4
      #   with:
      #     aws-access-key-id: ${{ secrets.ACCESS_ID }}
      #     aws-secret-access-key: ${{ secrets.SECRET_KEY }}
      #     aws-region: us-east-1

      # - name: Deploy in aws
      #   if: success()
      #   run: aws s3 sync ./dist s3://${{ secrets.WEBSITE }}
